* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.hidden {
    display: none;
}

#upload {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}